@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSansWeb\(FaNum\)_Medium.woff2');
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black-FD.woff');
    src: url('../fonts/Vazir-Thin.woff') format('woff'),
        url('../fonts/Vazir-Medium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: "vazir";
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.1rem 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* ============Top Part============ */
#top-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

#top-part .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

#top-part .logo {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid rgb(233, 232, 232);
}

#top-part .logo img {
    width: 100%;
    height: 100%;
}

#top-part .title h1 {
    font-family: "IRANSans";
    font-size: 1rem;
    padding-right: 10px;
}


/* ============Slider-Carousel============ */
/* #slider {
    display: none;
} */

#slider-carousel {
    height: 400px;
}

.slide {
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
}

.slide-video {
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.slide-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.icons-likes {
    display: flex;
    /* align-items: center; */
    margin-top: 1rem;
}

.icon-box {
    display: flex;
    align-items: center;
    padding-right: 25px;
    gap: 15px;
}

.icon-box i {
    font-size: 25px;
}

.icon-box .fa-heart {
    font-size: 20px;
    display: none;
}

.icons-likes .col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-likes .likes p {
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    direction: ltr;
}


/* ============Description============ */
#description {}

#description .description-box {
    margin-top: 0.9rem;
    padding: 10px;
}

#description .description-box h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

#description .description-box h5 {
    font-size: 18px;
    font-weight: 700;
}

#description .description-box p {
    line-height: 30px;
}


/* ============Customer Comments============ */
#customer-comments {
    margin-bottom: 15px;
    padding: 0 10px;
}

#customer-comments .comment-box-items {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid rgb(233, 232, 232);
    border-radius: 5px;
    /* display: none; */
}

.comment-box .customer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(233, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-box .customer-icon i {
    font-size: 25px;
}

#customer-comments .btn {
    opacity: 0.7;
}

.show-comments {
    margin-top: 15px;
}

.comments {
    border: 2px solid rgb(233, 232, 232);
    border-radius: 5px;
    padding: 15px;
}

.show-comments .comments {
    line-height: 25px;
}

.show-comments .comments strong {
    font-weight: 700;
    margin-left: 15px;
}

/* ============Responsive============ */

@media screen and (min-width:768px) {
    .comment-box-items .col-2 {
        width: 10%;
    }

    .comment-box-items .col-10 {
        width: 90%;
    }

    #customer-comments form .col-9 {
        width: 87%;
    }

    #customer-comments form .col-3 {
        width: 13%;
    }

    .logo-title .col-10 {
        width: 90%;
    }

    .logo-title .col-2 {
        width: 10%;
    }

}


@media screen and (min-width:992px) {
    #customer-comments form .col-9 {
        width: 90%;
    }

    #customer-comments form .col-3 {
        width: 10%;
    }

    #slider-carousel {
        height: 450px;
    }

    .slide,
    .slide-video {
        height: 400px;
    }

    .logo-title .col-10 {
        width: 93%;
    }

    .logo-title .col-2 {
        width: 7%;
    }
}


@media screen and (min-width:1200px) {
    .comment-box-items .col-2 {
        width: 8%;
    }

    .comment-box-items .col-10 {
        width: 92%;
    }

    #customer-comments form .col-9 {
        width: 92%;
    }

    #customer-comments form .col-3 {
        width: 7%;
    }

    .logo-title .col-10 {
        width: 93%;
    }

    .logo-title .col-2 {
        width: 7%;
    }

}